---
// import components
import H1 from "@components/ui/H1.astro";
import { Image } from "astro:assets";
// utils import
import { formatDate, slugify } from "@js/utils";

const { title, date, category, author, image } = Astro.props;
---

<header class="space-y-5">
  <div class="flex items-center justify-between">
    <H1 className="">{title}</H1>
    <small>
      <a
        class="rounded-lg bg-black px-5 pb-1.5 pt-1 text-white"
        href={`/category/${slugify(category)}/`}>{category}</a
      >
    </small>
  </div>

  <Image
    src={image.src}
    alt={image.alt}
    width={1200}
    height={600}
    quality={80}
    class="rounded-lg"
  />

  <p class="ml-10">
    by <a class="font-bold" href={`/author/${slugify(author)}/`}
      >{author} • {formatDate(date)}</a
    >
  </p>
</header>
